services:
    frontend:
      image: registry.kevindev64.ru/SDB-frontend:latest-prod
      container_name: frontend
      ports:
        - "8080:3000"
      networks:
        - client-side
      volumes: 
        - ./frontend/src:/app/src:ro
      restart: always

    backend:
      image: registry.kevindev64.ru/SDB-backend:latest-prod
      container_name: backend
      environment:
        - POSTGRES_USER=postgres
        - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
        - POSTGRES_DB=postgres
        - POSTGRES_HOST=db
        - SECRET_KEY=${SECRET_KEY}
        - HOST=${HOST}
        - PORT=${PORT}
        - DEBUG=${DEBUG}
      networks:
        - client-side
        - server-side
      volumes:
        - ./backend/data:/app/data
        - ./backend/.env:/app/.env
      ports:
        - "3000:3000"
      depends_on:
        - db
      restart: always

    db:
      image: postgres:17
      container_name: db
      environment: 
        - POSTGRES_USER=${POSTGRES_USER}
        - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
        - POSTGRES_DB=${POSTGRES_DB}
      networks:
        - server-side
      volumes:
        - ./db-data:/var/lib/postgresql/data
      ports:
        - "5555:5432"
      restart: always

networks:
  client-side: {}
  server-side: {}
