aiofiles==25.1.0
aiosmtplib==5.0.0
aiosqlite==0.21.0
alembic==1.17.2
annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.11.0
async-timeout==5.0.1
asyncpg==0.31.0
backports.asyncio.runner
bcrypt==4.0.1
brotli==1.2.0
certifi==2025.11.12
cffi==2.0.0
click==8.3.1
cryptography==46.0.3
cssselect2==0.8.0
dnspython==2.8.0
email-validator==2.3.0
exceptiongroup==1.3.1
fastapi==0.122.0
fonttools==4.61.0
greenlet==3.2.4
h11==0.16.0
httpcore==1.0.9
httpx==0.28.1
idna==3.11
iniconfig==2.3.0
Jinja2==3.1.6
Mako==1.3.10
MarkupSafe==3.0.3
numpy==2.2.6
packaging==25.0
pandas==2.3.3
passlib==1.7.4
pdfkit==1.0.0
pillow==12.0.0
pluggy==1.6.0
pycparser==2.23
pydantic==2.12.5
pydantic_core==2.41.5
pydyf==0.11.0
Pygments==2.19.2
PyJWT==2.10.1
pyphen==0.17.2
pytest==9.0.1
pytest-asyncio==1.3.0
python-dateutil==2.9.0.post0
python-json-logger==4.0.0
python-multipart==0.0.20
pytz==2025.2
six==1.17.0
sniffio==1.3.1
SQLAlchemy==2.0.44
starlette==0.50.0
tinycss2==1.5.1
tinyhtml5==2.0.0
tomli==2.3.0
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2025.2
uvicorn==0.38.0
weasyprint==66.0
webencodings==0.5.1
wkhtmltopdf==0.2
zopfli==0.4.0
